@{
    Layout = null;
    Script.Reqiured("jQueryUi").AtFoot();
    Style.Reqiured("Layout").AtHead();
    Script.Reqiured("admin").AtFoot();
}
@model Easy.CMS.Layout.LayoutEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @StyleAtHead()
    @ScriptAtHead()
</head>
<body>
    <div class="navbar-inverse white navbar-fixed-top" role="navigation">
        @using (Html.BeginForm("SaveLayout", "Layout", new { module = "Common" }, FormMethod.Post, new { id = "LayoutInfo" }))
        {
            <div class="navbar-inner">
                <div id="tools" class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="AddRow input-group input-group-sm" data-container="container-fluid">
                                <span class="input-group-addon"><i class="iconLeft glyphicon glyphicon-align-justify"></i>添加行</span>
                                <input type="text" class="form-control input-sm" placeholder="行宽" value="">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="AddCol input-group input-group-sm" data-col="col-md-">
                                <span class="input-group-addon"><i class="iconLeft glyphicon glyphicon-list"></i>添加列</span>
                                <select class="form-control input-sm">
                                    <option value="1">1/12</option>
                                    <option value="2">2/12</option>
                                    <option value="3">3/12</option>
                                    <option value="4">4/12</option>
                                    <option value="5">5/12</option>
                                    <option value="6" selected="selected">6/12</option>
                                    <option value="7">7/12</option>
                                    <option value="8">8/12</option>
                                    <option value="9">9/12</option>
                                    <option value="10">10/12</option>
                                    <option value="11">11/12</option>
                                    <option value="12">12/12</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="AddZone input-group input-group-sm">
                                <span class="input-group-addon"><i class="iconLeft glyphicon glyphicon-pushpin"></i>内容区域</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                                <div class="col-md-6">
                                    <div class="radio" style="margin:0px">
                                        <label>
                                            <input type="radio" name="ContainerClass" value="container" @(Model.ContainerClass == "container" || Model.ContainerClass.IsNullOrEmpty() ? "checked=\"checked\"" : "")>
                                            定宽
                                        </label>
                                    </div>
                                    <div class="radio" style="margin:0px">
                                        <label>
                                            <input type="radio" name="ContainerClass" value="container-fluid" @(Model.ContainerClass == "container-fluid" ? "checked=\"checked\"" : "")>
                                            宽100%
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <input type="hidden" name="ID" value="@Model.ID" />
                                    <input type="button" class="btn btn-default btn-sm cancel" value="取消">
                                    <input type="button" class="btn btn-info btn-sm" id="save" value="Save" />
                                </div>                            
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="design">
        <div id="container" class="@(Model.ContainerClass??"container") RowDroppable">
            @RenderBody()
        </div>
    </div>
    @StyleAtFoot()
    @ScriptAtFoot()
    <script type="text/javascript">
        $(function () {
            $("input[type=radio][name=ContainerClass]").click(function () {
                $("#container").removeClass("container").removeClass("container-fluid").addClass($(this).val());
            });
            $(".AddRow,.AddCol,.AddZone").draggable({ helper: "clone", revert: "invalid" });
            $("#tools").droppable({
                activeClass: "dropWarning",
                hoverClass: "dropDanger",
                accept: ".delable",
                drop: function (event, ui) {
                    ui.draggable.remove();
                }
            });
            $(".RowDroppable").droppable({
                hoverClass: "dropWarning",
                accept: ".AddRow",
                greedy: true,
                drop: rowDropToContent
            }).sortable();

            var opRowDrop = {
                hoverClass: "dropWarning",
                accept: ".AddCol,.AddZone",
                greedy: true,
                drop: colDroped
            };
            var opColDrop = {
                hoverClass: "dropWarning",
                accept: ".AddRow,.AddZone",
                greedy: true,
                drop: function (evn, uirz) {
                    if (uirz.draggable.hasClass("AddRow")) {
                        rowDroped(evn, uirz, this);
                    }
                    else if (uirz.draggable.hasClass("AddZone")) {
                        zoneDropable(evn, uirz, this);
                    }
                }
            };
            $("#container .row").droppable(opRowDrop).sortable();
            $("#container .colContent").droppable(opColDrop).sortable();

            $(".zone input").live("blur", function () {
                $(this).attr("value", $(this).val());
            });
            function rowDropToContent(event, ui, obj) {
                if (obj == null)
                    obj = this;
                var row = $("<div class=\"delable row\"></div>");
                if (ui.draggable.find("input").val()) {
                    row.css("width", ui.draggable.find("input").val());
                }
                row.droppable(opRowDrop);
                row.sortable();
                $(obj).append(row);
                $(".dropWarning").removeClass("dropWarning");
            }
            function rowDroped(event, ui, obj) {
                if (obj == null)
                    obj = this;
                var row = $("<div class=\"delable " + ui.draggable.data("container") + "\"><div class=\"row\"></div></div>");
                if (ui.draggable.find("input").val()) {
                    row.css("width", ui.draggable.find("input").val());
                }
                row.children(".row").droppable(opRowDrop).sortable();
                $(obj).append(row);
                $(".dropWarning").removeClass("dropWarning");
            }
            function colDroped(event, ui, obj) {
                if (obj == null)
                    obj = this;
                if (ui.draggable.hasClass("AddZone")) {
                    zoneDropable(event, ui, obj);
                    return;
                }
                var col = $("<div class=\"delable " + ui.draggable.data("col") + ui.draggable.find("select").val() + "\"><div class=\"colContent\"></div></div>");
                col.children(".colContent").droppable(opColDrop).sortable();
                $(obj).append(col);
                $(".dropWarning").removeClass("dropWarning");
            }
            function zoneDropable(event, ui, obj) {
                if (obj == null) {
                    obj = this;
                }
                var zoneParent = $('<div class="delable zone"></div>');
                var zone = $("<zone></zone>");
                zone.append('<input class="form-control" type="text" name="ZoneName" placeholder="Enter Zone Name" value="Zone' + ($("#container input[type=text]").size() + 1) + '" />');
                zone.append('<input class="form-control" type="hidden" name="LayoutId" value="' + $("#LayoutId").val() + '" />');
                zone.append('<input class="form-control" type="hidden" name="ID" value="" />');
                zoneParent.append(zone);
                $(obj).append(zoneParent);
                $(".dropWarning").removeClass("dropWarning");
            }

            $("#save").click(function () {
                $("#container .ui-droppable").removeClass("ui-droppable");
                $("#container .ui-sortable").removeClass("ui-sortable");
                var html = $.trim($("#container").html());
                var htmlArray = html.split("<zone>");
                var form = $("#LayoutInfo");
                var zoneArray = [];
                for (var i = 0; i < htmlArray.length; i++) {
                    zoneArray.push(htmlArray[i]);
                    if (i < htmlArray.length - 1) {
                        zoneArray.push("<zone>");
                    }
                }
                var allZoneResult = [];
                for (var i = 0; i < zoneArray.length; i++) {
                    var zoneEnd = zoneArray[i].split("</zone>");
                    for (var j = 0; j < zoneEnd.length; j++) {
                        allZoneResult.push(zoneEnd[j]);
                        if (j < zoneEnd.length - 1) {
                            allZoneResult.push("</zone>");
                        }
                    }
                }
                for (var i = 0; i < allZoneResult.length; i++) {
                    form.append($('<input type="hidden" name="html"/>').val($.trim(allZoneResult[i])));
                }
                form.submit();
            });
        });
    </script>
</body>
</html>
