@{
    Layout = null;
    Script.Reqiured("jQueryUi").AtFoot();
    Style.Reqiured("Layout").AtHead();
    Script.Reqiured("admin").AtFoot();
}
@model Easy.Web.CMS.Layout.LayoutEntity
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="zh"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="zh"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="zh"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="zh">
<!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width" />
    <title>设计->@Model.LayoutName</title>
    @StyleAtHead()
    @ScriptAtHead()
</head>
<body>
    <div class="navbar-inverse white navbar-fixed-top" role="navigation">
        @using (Html.BeginForm("SaveLayout", "Layout", new { module = "Common" }, FormMethod.Post, new { id = "LayoutInfo" }))
        {
            <div id="toolBar" class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="AddRow input-group input-group-sm" data-container="container-fluid">
                                <span class="input-group-addon"><i class="iconLeft glyphicon glyphicon-move"></i>添加行</span>
                                <input type="text" class="form-control input-sm" placeholder="行宽" value="">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="AddCol input-group input-group-sm" data-col="col-md-">
                                <span class="input-group-addon"><i class="iconLeft glyphicon glyphicon-move"></i>添加列</span>
                                <select class="form-control input-sm">
                                    <option value="1">1/12</option>
                                    <option value="2">2/12</option>
                                    <option value="3">3/12</option>
                                    <option value="4">4/12</option>
                                    <option value="5">5/12</option>
                                    <option value="6" selected="selected">6/12</option>
                                    <option value="7">7/12</option>
                                    <option value="8">8/12</option>
                                    <option value="9">9/12</option>
                                    <option value="10">10/12</option>
                                    <option value="11">11/12</option>
                                    <option value="12">12/12</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="AddZone input-group input-group-sm">
                                <span class="input-group-addon"><i class="iconLeft glyphicon glyphicon-move"></i>添加内容</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-3">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="ContainerClass" value="container" @(Model.ContainerClass == "container" || Model.ContainerClass.IsNullOrEmpty() ? "checked=\"checked\"" : "")>
                                        定宽
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="ContainerClass" value="container-fluid" @(Model.ContainerClass == "container-fluid" ? "checked=\"checked\"" : "")>
                                        宽100%
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-9" style="text-align: right">
                                <a href="@Url.Action("Edit", "Layout", new { ID = Model.ID, module = "Common" })" class="btn btn-success btn-sm">属性</a>
                                @*<a href="@Url.Action("SelectWidget", "WidgetTemplate", new { LayoutId = Model.ID, module = "Common" })" class="btn btn-danger btn-sm">添加组件</a>*@
                                <input type="button" class="btn btn-primary btn-sm" id="save" value="保存" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deleteBar"><i class="glyphicon glyphicon-trash"></i></div>
                <input type="hidden" id="LayoutId" name="ID" value="@Model.ID" />
            </div>
        }
    </div>
    <div class="design">
        <div id="container" class="@(Model.ContainerClass??"container") RowDroppable">
            @RenderBody()
        </div>
    </div>
    @if (!Model.Style.IsNullOrEmpty())
    {
        <link href="@Url.Content(Model.Style)" rel="stylesheet" />

    }

    @if (!Model.Script.IsNullOrEmpty())
    {
        <script type="text/javascript" src="@Url.Content(Model.Script)"></script>
    }
    @StyleAtFoot()
    @ScriptAtFoot()
</body>
</html>
