@{
    var layOut = ViewData[Easy.CMS.Layout.LayoutEntity.LayoutKey] as Easy.CMS.Layout.LayoutEntity;
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@layOut.Page.Title</title>
    <meta name="keywords" content="@layOut.Page.MetaKeyWorlds" />
    <meta name="description" content="@layOut.Page.MetaDescription" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @StyleAtHead()
    @ScriptAtHead()
</head>
<body>
    <div id="container" class="container">
        @RenderBody()
    </div>

    @StyleAtFoot()
    @ScriptAtFoot()
    @if (!layOut.Style.IsNullOrEmpty())
    {
        <link href="@Url.Content(layOut.Style)" rel="stylesheet" />

    }
    @if (!layOut.Page.Style.IsNullOrEmpty())
    {
        <link href="@Url.Content(layOut.Page.Style)" rel="stylesheet" />

    }
    @if (!layOut.Script.IsNullOrEmpty())
    {
        <script type="text/javascript" src="@Url.Content(layOut.Script)"></script>
    }
    @if (!layOut.Page.Script.IsNullOrEmpty())
    {
        <script type="text/javascript" src="@Url.Content(layOut.Page.Script)"></script>
    }

</body>
</html>
