@model Easy.Web.CMS.Layout.LayoutEntity
@{
    string url = "~/";
    if (Model.Page != null)
    {
        url = Model.Page.Url;
    }
}

<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu">
    <li>
        <a href="~/admin">
            <i class="glyphicon glyphicon-home"></i>
            后台管理
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Layout", new { module = "admin" })">
            <i class="glyphicon glyphicon-th-list"></i>
            布局列表
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Page", new { module = "admin" })">
            <i class="glyphicon glyphicon-eye-open"></i>
            页面管理
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Navigation", new { module = "admin" })">
            <i class="glyphicon glyphicon-retweet"></i>
            导航管理
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Theme", new { module = "admin" })">
            <i class="glyphicon glyphicon-blackboard"></i>
            主题管理
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Media", new { module = "admin" })">
            <i class="glyphicon glyphicon glyphicon-picture"></i>
            媒体库
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Carousel", new { module = "admin" })">
            <i class="glyphicon glyphicon-hd-video"></i>
            焦点图
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Article", new { module = "admin" })">
            <i class="glyphicon glyphicon-font"></i>
            文章列表
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Product", new { module = "admin" })">
            <i class="glyphicon glyphicon-list-alt"></i>
            产品列表
        </a>
    </li>
    <li>
        <a target="_blank" href="http://www.zkea.net/zkeacms/templates">
            <i class="glyphicon glyphicon-save-file"></i>
            下载模板
        </a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
        <a href="@Url.Action("Logout", "Account", new { module = "admin", returnurl = url })" target="_self" title="退出登录">
            <i class="glyphicon glyphicon-off"></i>
            退出登录
        </a>
    </li>
</ul>