@using System.Text.RegularExpressions
@using Easy.CMS.Section.Models
@using Easy.Web.CMS
@model SectionContentVideo



<li class="list-group-item" data-id="@Model.ID">
    <div class="icon-left clearfix">
        <div class="pull-left icon">
            <i class="text-primary sort-handle glyphicon glyphicon-resize-vertical">
            </i>
            <a href="@Url.Action("Edit", "SectionContentVideo", new {Id = Model.ID})"
               class="dialog glyphicon glyphicon-edit text-primary"
               data-width="800" data-height="430" title="编辑视频">
            </a>
            <a href="@Url.Action("Delete", "SectionContentVideo", new { Id = Model.ID })" class="ajax glyphicon glyphicon-remove text-danger delete">
            </a>
        </div>
        <div class="pull-left">
            <label class="label label-primary">视频</label>
            <div class="clearfix">
                <div class="video pull-left">
                    <img src="@Url.PathContent(Model.Thumbnail)" />
                    <a target="_blank" class="video-play pop-dialog"
                       data-width="@Model.Width"
                       data-height="@Model.Height"
                       data-title="@Model.VideoTitle"
                       title="@Model.VideoTitle"
                       href="@Url.Action("Play", "SectionContentVideo", new {module = "Section", Id = Model.ID})"></a>
                </div>
            </div>
        </div>
    </div>
</li>
