@using Easy.CMS.Section.Models
@using Easy.Web.CMS
@model SectionContentCallToAction
<li class="list-group-item clearfix" data-id="@Model.ID">
    <div class="icon-left">
        <div class="pull-left icon">
            <a href="@Url.Action("Delete", "SectionContentCallToAction", new {Id = Model.ID})" class="ajax">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
            <a href="@Url.Action("Edit", "SectionContentCallToAction", new {Id = Model.ID})" class="dialog" data-width="800" data-height="150">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </div>
        <div class="pull-left">
            <a href="@Url.PathContent(Model.Href)">
                @Model.InnerText
            </a>
        </div>
    </div>
</li>