@model Easy.CMS.Article.ViewModel.ArticleTypeDetailWidgetViewModel
@{

}
<div class="container-fluid articleType">
    <div class="row">
        <div class="col-md-3">
            <div class="category">
                <div class="item-title">
                    <h4>
                        @Model.ArticleType.Title
                    </h4>
                </div>
                <div class="category-list">
                    <ul>
                        @if (Model.Articles != null)
                        {
                            foreach (var item in Model.Articles)
                            {
                                <li>
                                    <div class="category-title">
                                        <a href="@(Request.Path+"?ID="+item.ID)" class="@(item.ID==Model.CurrentArticle?"focus":"")">@item.Title</a>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-9">

            @if (Model.Articles.Any(m => m.ID == Model.CurrentArticle))
            {
                var article = Model.Articles.First(m => m.ID == Model.CurrentArticle);
                <div class="articleDetail">
                    <div class="item-title">
                        <h5>
                            @article.Title
                        </h5>
                    </div>
                    <div class="detail">
                        @Html.Raw(article.ArticleContent)
                    </div>
                </div>
            }

        </div>
    </div>
</div>