@{
    Style.Reqiured("admin").AtHead();
    Script.Reqiured("admin").AtFoot();
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title></title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @StyleAtHead()
    @ScriptAtHead()
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="~/Content/themes/assets/js/html5.js"></script>
    <![endif]-->

</head>
<body>

    <div id="wrap" class="container-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    @Html.ActionLink("应用程序名称", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>

            </div>
        </div>
        <div class="navbar-collapse navbar-inverse">
            <div class="beforNav"></div>
            <div class="userInfo">
                <img src="http://www.qqtouxiang888.com/uploads/allimg/110711/0T6091021-9.jpg" class="img-circle" />
                <strong>#E28271</strong>
                <a>settings</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a class="b_F5C294 active" href="@Url.Action("Index", "Layout", new { module = "Common" })">
                        <i class="glyphicon glyphicon-align-justify"></i>
                        布局列表
                    </a>
                </li>
                <li>
                    <a class="b_F5C294" href="@Url.Action("Index", "Page", new { module = "Common" })">
                        <i class="glyphicon glyphicon-th-list"></i>
                        页面
                    </a>
                </li>

                <li class="accordion-group">
                    <a class="b_F5C294" href="~/page/admin/edit">
                        <i class="glyphicon glyphicon-th-list"></i>
                        产品管理
                        <i class="glyphicon group"></i>
                    </a>
                    <div class="accordion-inner">
                        <a id="PageList" href="~/page/admin/index">
                            <i class="glyphicon glyphicon-th-list"></i>
                            页面列表
                        </a>
                        <a href="~/page/admin/edit">
                            <i class="glyphicon glyphicon-th-list"></i>
                            UI Features
                        </a>
                    </div>
                </li>
                <li class="accordion-group">
                    <a class="b_F5C294" href="~/page/admin/edit">
                        <i class="glyphicon glyphicon-th-list"></i>
                        产品管理
                        <i class="glyphicon group"></i>
                    </a>
                    <div class="accordion-inner">
                        <a href="~/page/admin/edit">
                            <i class="glyphicon glyphicon-th-list"></i>
                            页面列表
                        </a>
                        <a href="~/page/admin/edit">
                            <i class="glyphicon glyphicon-th-list"></i>
                            UI Features
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="main-container">
            @RenderBody()
        </div>
    </div>
    @StyleAtFoot()
    @ScriptAtFoot()

</body>
</html>
