@using Easy
@using Easy.Web.CMS
@using Microsoft.Practices.ServiceLocation
@{
    Style.Reqiured("admin").AtHead();
    Script.Reqiured("admin").AtFoot();
    var plugs = ServiceLocator.Current.GetAllInstances<PluginBase>();
    List<AdminMenu> menus = new List<AdminMenu>();
    plugs.Each(m =>
    {
        var menu = m.AdminMenu();
        if (menu != null)
        {
            var adminMenus = menu as AdminMenu[] ?? menu.ToArray();
            menus.AddRange(adminMenus);
        }
    });
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>ZKEASOFT</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="pragma" content="no-cach" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    @StyleAtHead()
    @ScriptAtHead()
</head>
<body>

<div id="wrap" class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="http://www.zkea.net" target="_blank" class="navbar-brand" title="ZKEASOFT">
                    <img src="~/Content/themes/Admin/images/logo_zkea.png" alt="" style="height: 20px;"/>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="~/" target="_blank">查看站点</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Logout","Account")" target="_self" title="退出">
                            <i class="glyphicon glyphicon-off"></i>
                            退出
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <nav class="navbar navbar-inverse navbar-fixed-left">
        <div class="">
            <div class="navbar-header">
                <div class="userInfo">
                    <img src="@Url.PathContent(ApplicationContext.CurrentUser.PhotoUrl)" class="img-circle"/>
                    <strong>@ApplicationContext.CurrentUser.UserName</strong>
                </div>
            </div>
            <ul class="nav navbar-nav">
                @foreach (AdminMenu menu in menus.OrderBy(m => m.Order))
                {
                    if (menu.Children != null && menu.Children.Any())
                    {
                        <li class="accordion-group">
                            <a class="b_9FDDF6" href="#">
                                <i class="glyphicon @menu.Icon"></i>
                                @menu.Title
                                <i class="glyphicon group"></i>
                            </a>
                            <div class="accordion-inner">
                                @foreach (AdminMenu child in menu.Children.OrderBy(m => m.Order))
                                {
                                    <a id="menu@((child.Url ?? child.Title).GetHashCode())" class="b_9FDDF6" href="@Url.Content(child.Url ?? "~/")">
                                        <i class="glyphicon @child.Icon"></i>
                                        @child.Title
                                    </a>
                                }
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a id="menu@((menu.Url ?? menu.Title).GetHashCode())" class="b_9FDDF6" href="@Url.Content(menu.Url ?? "~/")">
                                <i class="glyphicon @menu.Icon"></i>
                                @menu.Title
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
        
    </nav>
    <div class="main-container">
        @RenderBody()
    </div>
</div>
    @StyleAtFoot()
    @ScriptAtFoot()
    <script type="text/javascript" async src="http://www.zkea.net/openstatistics"></script>
</body>
</html>
