@using Easy
@using Easy.Web.CMS
@using Microsoft.Practices.ServiceLocation
@{
    Style.Reqiured("admin").AtHead();
    Script.Reqiured("admin").AtFoot();
    var applicationContext = ServiceLocator.Current.GetInstance<IApplicationContext>();

    var plugs= ServiceLocator.Current.GetAllInstances<PluginBase>();
    List<AdminMenu> menus=new List<AdminMenu>();
    plugs.Each(m =>
    {
        var menu = m.AdminMenu();
        if (menu != null && menu.Any())
        {
            menus.AddRange(menu);
        }
    });
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>ZKEASOFT</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="pragma" content="no-cach" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    @StyleAtHead()
    @ScriptAtHead()
</head>
<body>

    <div id="wrap" class="container-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="~/" target="_self" class="navbar-brand" title="查看首页">
                        <img src="~/Content/themes/Admin/images/logo_zkea.png" alt="" style="height: 20px;"/>
                    </a>
                </div>
                <div class="navbar-header pull-right">
                    <a href="~/Account/Logout" target="_self" class="navbar-brand" title="退出">
                        <i class="glyphicon glyphicon-off"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-collapse navbar-inverse">
            <div class="beforNav"></div>
            <div class="userInfo">
                <img src="@Url.PathContent(applicationContext.CurrentUser.PhotoUrl)" class="img-circle" />
                <strong>@applicationContext.CurrentUser.UserName</strong>
            </div>
            <ul class="nav navbar-nav">
                @foreach (AdminMenu menu in menus.OrderBy(m=>m.Order))
                {
                    if (menu.Children != null && menu.Children.Any())
                    {
                        <li class="accordion-group">
                            <a class="b_F5C294" href="#">
                                <i class="glyphicon @menu.Icon"></i>
                                @menu.Title
                                <i class="glyphicon group"></i>
                            </a>
                            <div class="accordion-inner">
                                @foreach (AdminMenu child in menu.Children.OrderBy(m => m.Order))
                                {
                                    <a id="menu@((menu.Url ?? menu.Title).GetHashCode())" class="b_F5C294" href="@Url.Content(child.Url)">
                                        <i class="glyphicon @child.Icon"></i>
                                        @child.Title
                                    </a>
                                }
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a id="menu@((menu.Url??menu.Title).GetHashCode())" class="b_F5C294" href="@Url.Content(menu.Url)">
                                <i class="glyphicon @menu.Icon"></i>
                                @menu.Title
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="main-container">
            @RenderBody()
        </div>
    </div>
    @StyleAtFoot()
    @ScriptAtFoot()
    <script type="text/javascript">
        tinymce.init({
            content_css: ["../../../Content/bootstrap/css/bootstrap.css", "../../../Content/bootstrap/css/bootstrap-theme.css"],
            selector: "textarea.html",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            height: 300,
            relative_urls: false,
            language: "zh_CN"
        });
    </script>
</body>
</html>
