@{
    Style.Reqiured("admin").AtHead();
    Script.Reqiured("admin").AtFoot();
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title></title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="pragma" content="no-cach" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    @StyleAtHead()
    @ScriptAtHead()
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="~/Content/themes/assets/js/html5.js"></script>
    <![endif]-->

</head>
<body>

    <div id="wrap" class="container-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="~/" target="_blank" class="navbar-brand">Home</a>
                </div>

            </div>
        </div>
        <div class="navbar-collapse navbar-inverse">
            <div class="beforNav"></div>
            <div class="userInfo">
                <img src="~/Images/head.png" class="img-circle" />
                <strong>#E28271</strong>
            </div>
            <ul class="nav navbar-nav">
                <li class="accordion-group">
                    <a class="b_F5C294" href="#">
                        <i class="glyphicon glyphicon-th-list"></i>
                        布局
                        <i class="glyphicon group"></i>
                    </a>
                    <div class="accordion-inner">
                        <a id="menu_layout" class="b_F5C294" href="@Url.Action("Index", "Layout", new { module = "Common" })">
                            <i class="glyphicon glyphicon-align-justify"></i>
                            布局列表
                        </a>
                        <a id="menu_layoutWidget" href="@Url.Action("LayoutWidget", "Layout", new { module = "Common" })">
                            <i class="glyphicon glyphicon-th-list"></i>
                            布局组件
                        </a>
                    </div>
                </li>
                <li>
                    <a id="menu_page" class="b_F5C294" href="@Url.Action("Index", "Page", new { module = "Common" })">
                        <i class="glyphicon glyphicon-th-list"></i>
                        页面
                    </a>
                </li>
                <li>
                    <a id="menu_navigation" class="b_F5C294" href="@Url.Action("Index", "Navigation", new { module = "Common" })">
                        <i class="glyphicon glyphicon-th-list"></i>
                        导航
                    </a>
                </li>
                <li>
                    <a id="menu_navigation" class="b_F5C294" href="@Url.Action("Index", "Carousel", new { module = "Common" })">
                        <i class="glyphicon glyphicon-th-list"></i>
                        焦点图
                    </a>
                </li>

                <li class="accordion-group">
                    <a class="b_F5C294" href="#">
                        <i class="glyphicon glyphicon-th-list"></i>
                        文章管理
                        <i class="glyphicon group"></i>
                    </a>
                    <div class="accordion-inner">
                        <a id="menu_articleList" href="@Url.Action("Index", "Article", new { module = "Article" })">
                            <i class="glyphicon glyphicon-th-list"></i>
                            文章列表
                        </a>
                        <a id="menu_articleTypeList" href="@Url.Action("Index", "ArticleType", new { module = "Article" })">
                            <i class="glyphicon glyphicon-th-list"></i>
                            文章类别
                        </a>
                    </div>
                </li>
                <li class="accordion-group">
                    <a class="b_F5C294" href="~/page/admin/edit">
                        <i class="glyphicon glyphicon-th-list"></i>
                        产品管理
                        <i class="glyphicon group"></i>
                    </a>
                    <div class="accordion-inner">
                        <a href="@Url.Action("Index", "Product", new { module = "Product" })">
                        <i class="glyphicon glyphicon-th-list"></i>
                            产品列表
                        </a>
                        <a href="@Url.Action("Index", "ProductCategory", new { module = "Product" })">
                            <i class="glyphicon glyphicon-th-list"></i>
                            产品类别
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="main-container">
            @RenderBody()
        </div>
    </div>
    @StyleAtFoot()
    @ScriptAtFoot()
    <script type="text/javascript">
        tinymce.init({
            content_css: ["../../../Content/bootstrap/css/bootstrap.css", "../../../Content/bootstrap/css/bootstrap-theme.css"],
            selector: "textarea.html",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            height: 300,
            relative_urls:false,
            language: "zh_CN"
        });
    </script>
</body>
</html>
