@using Easy.CMS.Web.Widget
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title></title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @StyleAtHead()
    @ScriptAtHead()
</head>
<body>
    @{
        if (ViewData.ContainsKey(WidgetPart.WidgetPartKey))
        {
            WidgetZoneCollection zoneCollection = ViewData[WidgetPart.WidgetPartKey] as WidgetZoneCollection;
            zoneCollection["zone1"].ForEach(m =>
            {
                Html.RenderPartial(m.PartialView, m.ViewModel);
            });
        }

    }
    @RenderBody()

    @ScriptAtFoot()
    @StyleAtFoot()
</body>
</html>