@{
    Layout = null;
    Style.Reqiured("admin").AtHead();
    Script.Reqiured("admin").AtFoot();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @StyleAtHead()
    @ScriptAtHead()
</head>
<body>
<div style="padding:10px 0 40px;">
    <div class="container">
    @RenderBody()    
    </div>
    
    <div class="popUpToolBar">
        <input id="confirm" type="button" value="确认" class="btn btn-primary btn-sm"/>
        <input type="button" value="取消" class="btn btn-default btn-sm"/>
    </div>
</div>
    @StyleAtFoot()
    @ScriptAtFoot()
    <script type="text/javascript">
        var selected = "";
        var selectedArray = [];
        $(".popUpToolBar .btn-default").click(function () {
            $(window.parent.document).find(".WeiWindow.BoxShadow .CloseWindow").click();
        });

        function Set(obj) {
            selected = obj;
        }

        function SetArray(obj) {
            selectedArray = obj;
        }

        function GetSelected() {
            return selected;
        }

        function GetSelectedArray() {
            return selectedArray;
        }
    </script>
    <script type="text/javascript">
        tinymce.init({
            content_css: ["../../../Content/bootstrap/css/bootstrap.css", "../../../Content/bootstrap/css/bootstrap-theme.css"],
            selector: "textarea.html",
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            height: 300,
            relative_urls:false,
            language: "zh_CN"
        });
    </script>

</body>
</html>
