@using Easy.Web.CMS.Layout
@model List<LayoutEntity>
@{
    Style.Reqiured("Layout").AtFoot();
}
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="badge">布局</span>
        <a href="@Url.Action("Create", new { module = "Common" })" class="btn btn-primary btn-xs">
            <i class="glyphicon glyphicon-plus"></i>
            添加布局
        </a>
    </div>
    <div class="panel-body">
        <ul class="layoutList">
            @foreach (LayoutEntity item in Model)
            {
                <li>
                    <a href="@Url.Action("Edit", "Layout", new { module = "Common", ID = item.ID })" class="thumbnail">
                        @if (item.ImageUrl.IsNullOrEmpty())
                        {
                            <img src="@Url.Content(LayoutEntity.DefaultThumbnial)" alt="@item.LayoutName" />
                        }
                        else
                        {
                            <img src="@Url.Content(item.ImageUrl)" alt="@item.LayoutName" />
                        }
                        <div class="caption">
                            <h5>@item.LayoutName</h5>
                            <p>@item.Description</p>
                        </div>
                    </a>
                </li>
            }
        </ul>

    </div>
</div>
