@model Easy.Web.CMS.Layout.LayoutEntity
@{
    Layout = null;
    var zoneStart = false;
    if (Model == null)
    {
        return;
    }
}
<style>
    .panel{
        cursor:pointer;
    }
    .panel.active{
        background:#337ab7;
        color:#fff;
    }
</style>
<div class="container-fluid">
    @foreach (var itemHtml in Model.Html)
    {
        if (itemHtml.Html == Easy.Web.CMS.Zone.ZoneEntity.ZoneTag)
        {
            @Html.Raw(itemHtml.Html)
            zoneStart = true;
            continue;
        }
        if (zoneStart)
        {
            var zone = Model.Zones.Where(m => m.ID == itemHtml.Html);
            if (zone.Any())
            {
                zoneStart = false;

                foreach (var item in zone)
                {
                    <div class="panel panel-default @(item.ID == ViewBag.ZoneId ? "active" : "")" style="margin:5px;text-align:center;" data-zoneid="@item.ID">
                        <div class="panel-body">
                            @item.ZoneName
                        </div>
                    </div>                   
                }

                continue;
            }
        }
        if (itemHtml.Html == Easy.Web.CMS.Zone.ZoneEntity.ZoneEndTag)
        {
            @Html.Raw(itemHtml.Html)
            zoneStart = false;
            continue;
        }
        @Html.Raw(itemHtml.Html)
    }
</div>
@using (Script.AtFoot())
{
    <script type="text/javascript">
        $(document).on("click", ".panel", function () {
            $(".panel").removeClass("active");
            $(this).addClass("active");
            Set($(this).data("zoneid"));
        });
    </script>
}