@{
    Easy.CMS.Layout.LayoutEntity layOut = ViewData[Easy.CMS.Layout.LayoutEntity.LayoutKey] as Easy.CMS.Layout.LayoutEntity;
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title></title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @StyleAtHead()
    @ScriptAtHead()
</head>
<body>
    <div id="container" class="container">
        @RenderBody()

        @{
            bool zoneStart = false;
            foreach (var item in layOut.Html)
            {
                if (item.Html == Easy.CMS.Web.Zone.ZoneEntity.ZoneTag)
                {
                    zoneStart = true;
                    continue;
                }
                if (zoneStart)
                {
                    if (layOut.ZoneWidgets.ContainsKey(item.Html))
                    {
                        foreach (var widget in layOut.ZoneWidgets[item.Html].OrderBy(m => m.Position))
                        {
                            <div data-widgetid="@widget.WidgetId" data-position="@widget.Position">
                                <div class="zoneToolbar container-fluid">
                                    <div class="row">
                                        <div class="col-md-11">
                                            @widget.WidgetName
                                        </div>
                                        <div class="col-md-12">
                                        </div>
                                        <a href="javascript:void(0)"><i class="glyphicon glyphicon-edit"></i></a>
                                        <a href="javascript:void(0)"><i class="glyphicon glyphicon-trash"></i></a>
                                    </div>
                                </div>
                                @{Html.RenderPartial(widget.PartialView, widget.ViewModel);}
                            </div>
                        }
                    }
                    zoneStart = false;
                    continue;
                }
                if (item.Html == Easy.CMS.Web.Zone.ZoneEntity.ZoneEndTag)
                {
                    zoneStart = false;
                    continue;
                }
                @Html.Raw(item.Html)
            }
        }
    </div>

    @StyleAtFoot()
    @ScriptAtFoot()
    @if (!layOut.IncludeStyle.IsNullOrEmpty())
    {
        @Url.Content(layOut.IncludeStyle)
    }
    @if (!layOut.Page.IncludeStyle.IsNullOrEmpty())
    {
        @Url.Content(layOut.Page.IncludeStyle)
    }
    @if (!layOut.IncludeScript.IsNullOrEmpty())
    {
        @Url.Content(layOut.IncludeScript)
    }
    @if (!layOut.Page.IncludeScript.IsNullOrEmpty())
    {
        @Url.Content(layOut.Page.IncludeScript)
    }
    <script type="text/javascript">
        $(function () {
            $(".zone").sortable({
                handle: ".zoneToolbar",
                stop: function (event, ui) {
                    var tempForm = "";
                    ui.item.parent().children().each(function (i, ui) {
                        tempForm += "&widgets[" + i + "].WidgetId=" + $(ui).data("widgetid") + "&widgets[" + i + "].Position=" + i;
                    });
                    
                    $.post("@Url.Action("SaveWidgetPosition", "Design")", tempForm, function (data) {

                    }, "html");
                }
            });
        });
    </script>
</body>
</html>
