@using Easy.CMS.Section.Models
@model SectionWidget
@{
    Script.Reqiured("jQueryUi").AtHead();
}
@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div>添加组件</div>
        </div>
        <div class="panel-body">
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
            @Html.EditModel()
            @if (Model.Groups != null)
            {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div>
                                        <span class="badge">SectionGroup</span>
                                    </div>
                                </div>
                                <div class="panel-body" id="section-groups">
                                    @foreach (SectionGroup group in Model.Groups.OrderBy(m => m.Order))
                                    {
                                        Html.RenderPartial("SectionGroup.Edit", group);
                                    }

                                </div>
                                <div class="panel-footer">
                                    <a href="@Url.Action("Create", "SectionGroup", new {sectionWidgetId = Model.ID})" class="btn btn-link btn-xs dialog">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        添加
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="panel-footer">
            <input type="button" class="btn btn-default btn-sm cancel" value="取消" />
            @if (Model.ID.IsNullOrEmpty())
            {
                <input id="design" type="submit" class="btn btn-primary btn-sm" value="继续" data-value="@ActionType.Continue" />
            }
            else
            {
                <input id="design" type="submit" class="btn btn-primary btn-sm" value="保存" data-value="@ActionType.Create" />
            }
        </div>

    </div>

}
@using (Script.AtFoot())
{
    <script type="text/javascript">
        $(document).on("click", "a.dialog", function () {
            Easy.ShowUrlWindow({
                url: $(this).attr("href"), title: $(this).text(), callBack: function () {
                    reload();
                }, isDialog: true
            });
            return false;
        });
        $(document).on("click", "a.ajax", function () {
            var link = $(this).attr("href");
            Easy.ShowMessageBox("提示", "确定要删除吗？", function () {
                $.get(link, {}, function (data) {
                    reload();
                }, "json");
            }, true, 3);
            return false;
        });
        function reload() {
            $.get("@Url.Action("Editor","SectionWidget")", { sectionWidgetId: '@Model.ID' }, function (html) {
                $("#section-groups").html(html);
            }, "html");
        }
        $("#section-groups").sortable({
            handle: ".panel-heading",
            stop: function (event, ui) {
                var result = {}
                $(event.target).find(".section-group").each(function (i) {
                    result["[" + i + "].ID"] = $(this).data("id");
                    result["[" + i + "].Order"] = i;
                });
                $.post("@Url.Action("Sort","SectionGroup")", result, function (data) { reload(); }, "json");
            }
        });
        $(".section-group .list-group").sortable({
            stop: function (event, ui) {
                var result = {}
                $(event.target).find(".list-group-item").each(function (i) {
                    result["[" + i + "].ID"] = $(this).data("id");
                    result["[" + i + "].Order"] = i;
                });
                $.post("@Url.Action("SortContent","SectionGroup")", result, function (data) { reload(); }, "json");
            }
        });
    </script>
}