@using Easy.Web.CMS
@model Easy.CMS.Product.Models.Product

<div class="product-detail">
    <div class="page-header">
        <h1 class="align-center">
            @Model.Title
        </h1>
        <div class="align-right">
            <span>
                <i class="glyphicon glyphicon-user"></i>
                @Model.CreatebyName
            </span>
            <span>
                <i class="glyphicon glyphicon-calendar"></i>
                @((Model.PublishDate ?? DateTime.Now).ToString("yyyy/MM/dd"))
            </span>
        </div>
    </div>
    <div class="panel-body detail clearfix">
        @if (Model.ImageUrl.IsNotNullAndWhiteSpace())
        {
            <img class="thumbnail" src="@Url.Content(Model.ImageUrl)" alt="@Model.Title" />
        }
        @Html.Raw(Model.ProductContent)
    </div>
</div>

