@using System.Text.RegularExpressions
@model Easy.CMS.Product.ViewModel.ProductListWidgetViewModel

@{
    string currentUrl = Request.Path.ToLower();
    if (!currentUrl.Contains("c="))
    {
        if (currentUrl.Contains("?"))
        {
            currentUrl += "&c=0";
        }
        else
        {
            currentUrl += "?c=0";
        }
    }
}
<div class="ProductCategoryBar">
    @foreach (var item in Model.Categorys)
    {
        <a href="@Regex.Replace(currentUrl, @"c=\d", "c="+item.ID)" class="categoryTag badge @(item.ID==Model.CurrentCategory?"current":"")">
            @item.Title
        </a>
    }
</div>

<ul class="ProductList mobile">
    @foreach (var item in Model.Products)
    {
        <li>
            <div class="Content">
                <a href="@item.Url" target="_blank">
                    <div class="Image">
                        <img src="@item.ImageThumbUrl" title="@item.Title" alt="@item.Title" />
                    </div>
                </a>
                <div class="TitleBar">
                    @item.Title
                </div>
                <div class="PriceSpace">
                    <span class="Price">¥@string.Format("{0:f2}", item.RebatePrice)</span>
                    <span class="PriceNo">¥@string.Format("{0:f2}", item.Price)</span>
                </div>
            </div>

        </li>
    }


</ul>
<div class="clearfix"></div>
@{Html.RenderPartial("Partial_Pagination", Model.Page);}

