@using Easy.Web.CMS
@model Easy.Web.CMS.Product.Models.ProductEntity
@{
    var images = Model.GetFields("image");
}
<div class="product-detail">
    <div class="page-header">
        <h1 class="align-center">
            @Model.Title
        </h1>
        <div class="align-right">
            <span>
                <i class="glyphicon glyphicon-user"></i>
                @Model.CreatebyName
            </span>
            <span>
                <i class="glyphicon glyphicon-calendar"></i>
                @((Model.PublishDate ?? DateTime.Now).ToString("yyyy/MM/dd"))
            </span>
        </div>
    </div>
    <div class="panel-body detail clearfix">
        @if (Model.Description.IsNotNullAndWhiteSpace())
        {
            <blockquote>
                <footer>
                    @Model.Description
                </footer> 
            </blockquote>
        }
        @if (images.Any())
        {
            Style.Reqiured("OWL.Carousel").AtHead();
            Script.Reqiured("OWL.Carousel").AtFoot();

            <div class="owl-carousel">
                @foreach (var item in images)
                {
                    <div class="item" style="background-image: url('@Url.PathContent(item.Value)');" data-image-url="@Url.PathContent(item.Value)">
                        <div class="slider-inner">
                            <div class="carousel-content">
                                @item.Description
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br/>
        }
        else if (Model.ImageUrl.IsNotNullAndWhiteSpace())
        {
            <img class="thumbnail" src="@Url.Content(Model.ImageUrl)" alt="@Model.Title"/>
        }
        @Html.Raw(Model.ProductContent)
    </div>
</div>