@using Easy.Web.CMS
@model Easy.CMS.Common.ViewModels.MediaViewModel
@{

}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @if (Model.Parent != null)
            {
                <a href="@Url.Action("Index", new { ParentId = Model.Parent.ParentID })" class="btn btn-primary">返回</a>
            }
            <input type="button" class="btn btn-primary upload" value="上传文件"/>
            <input type="button" class="btn btn-primary create-folder" value="创建文件夹"/>
        </div>
    </div>
    <br />
    <div id="media-list" class="row" data-parent="@Request.QueryString["ParentId"]">
        @if (Model.Medias != null)
        {
            foreach (var media in Model.Medias)
            {
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="thumbnail">
                        @if (media.MediaType == (int)MediaType.Folder)
                        {
                            <a href="@Url.Action("Index", new {ParentId = media.ID})">
                                <img src="~/Images/folder.png" />
                            </a>
                        }
                        else if (media.MediaType == (int) MediaType.Image)
                        {
                            <a href="javascript:void(0)" class="confirm" data-result="@media.Url">
                                <img src="@Url.Content(media.Url)"/>
                            </a>
                        }
                        else
                        {
                            <a href="javascript:void(0)" class="confirm" data-result="@media.Url">
                                <img src="@Url.Content("~/Images/{0}.png".FormatWith(media.MediaTypeImage))" />
                            </a>
                        }
                        <div class="caption" data-id="@media.ID">
                            @media.Title
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="hide">
        <input type="file" id="fileUp" />
        <div id="item-template">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail new-folder">
                    <a>
                        <img src="~/Images/folder.png">
                    </a>
                    <div class="caption">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Script.AtFoot())
{
    <script type="text/javascript">
        $(function () {
            $(document).on("click", ".create-folder", function () {
                var newfolder = $($("#item-template").html());
                newfolder.find(".caption").append('<input type="text" class="edit" value="新建文件夹" />');
                if ($("#media-list > div").size() > 0) {
                    newfolder.insertBefore($("#media-list > div:first"));
                } else {
                    $("#media-list").append(newfolder);
                }
                newfolder.find(".edit").focus();
            });
            $(document).on("keyup", ".edit", function (e) {
                if (e.keyCode === 13) {
                    var input = $(this);
                    $.post("@Url.Action("Save")", { id: $(this).closest(".caption").data("id"), title: $(this).val(), parentId: $("#media-list").data("parent") }, function (data) {
                        if (data) {
                            var caption = input.closest(".caption");
                            if (caption.data("id")) {
                                input.replaceWith(data.Title);
                            } else {
                                input.closest(".new-folder").removeClass("new-folder").find("a").attr("href", "@Url.Action("Index")" + "?ParentId=" + data.ID);
                                caption.data("id", data.ID);
                                input.replaceWith(data.Title);
                            }
                        }
                    });
                }
            });
            $(document).on("blur", ".edit", function () {
                if (!$(this).closest(".caption").data("id")) {
                    $(this).closest(".thumbnail").parent().remove();
                } else {
                    $(this).replaceWith($(this).val());
                }
            });
            $(document).on("click", ".caption", function () {
                if ($(this).find(".edit").size() === 0) {
                    $(this).html('<input type="text" class="edit" value="' + $.trim($(this).text()) + '"/>');
                    $(this).find(".edit").focus();
                }
            });
            $(document).on("click", ".upload", function () {
                $("#fileUp").trigger("click");
            });
            $(document).on("change", "#fileUp", function () {
                var newitem = $($("#item-template").html());
                newitem.find("img").attr("src", "@Url.Content("~/Images/loader.gif")");
                if ($("#media-list > div").size() > 0) {
                    newitem.insertBefore($("#media-list > div:first"));
                } else {
                    $("#media-list").append(newitem);
                }
                var formData = new FormData();
                formData.append('file', this.files[0]);
                formData.append("parentId", $("#media-list").data("parent"));
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '@Url.Action("Upload")');
                xhr.onload = function (e) {
                    var result = JSON.parse(e.target.response);
                    newitem.find("img").attr("src", result.Url);
                    newitem.find(".caption").html(result.Title);
                    newitem.find(".new-folder").removeClass("new-folder");
                };
                xhr.upload.onprogress = function (e) {
                    var persecnt = e.loaded / e.total * 100;
                    newitem.find(".caption").html(Math.round(persecnt) + "%");
                }
                xhr.send(formData);
            });
        });

    </script>
}